@model WebPortfolio.Models.ArtWorkModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ArtWorkEntity</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category)
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        @foreach (var item in Model.Images)
        {
          
           <img class="img-thumbnail" width="100"
                         src="@Url.Action("ShowImg", "Modify",
                        new { id = Model.Id, idSlide = item.IdOwn })" /> 
        }

        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
